@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* Base styles */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

p,
span {
  font-size: 1rem;
}
